@charset "UTF-8";

@media (max-width: 992px) {
    .title h1, .subtitle h2 {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .title h1, .subtitle h2 {
        font-size: 2rem;
    }
    .content-item ul > li {
        font-size: 1.5rem;
    }
    .nw-content p {
        font-size: 1.2rem;
    }
    .press-button {
        display: flex;
        justify-content: flex-end;
    }
    .new-content {
        display: none;
    }
    .content-body:hover .press-button {
        display: none;
    }
    .content-body:hover .title {
        display: none;
    }
    .content-body:hover .content-item {
        display: none;
    }
    .content-body:hover .new-content {
        display: block;
    }
}

@media (max-width: 511px) {
    .content-item ul > li {
        font-size: 1.2rem;
    }
    .nw-content p {
        font-size: 1rem;
    }
}

@media (max-width: 374px) {
    .content-item ul > li {
        font-size: 1.1rem;
    }
    .nw-content p {
        font-size: .9rem;
    }
}