@charset "UTF-8";

@media (max-width: 991px) {
    .row {
        flex-flow: column wrap;
    }
    #press-oculto {
        display: block;
    }
    .row:hover #content-1 {
        display: none;
    }
    .row:hover #press-oculto {
        display: none;
    }
    #content-2 {
        display: none;
    }
    .row:hover #content-2 {
        display: block;
    }
    #subtitle, #subtitle-cont {
        font-size: 1.5rem;
    }
    #content-2 p {
        font-size: .8rem;
    }
    .social-media i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    #title {
        font-size: 1.5rem;
    }
    #subtitle, #subtitle-cont {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    #item {
        font-size: .8rem;
    }
    .social-media i {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}

@media (max-width: 506px) {
    #content-2 p {
        font-size: .7rem;
    }
}