@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    border: none;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black url('../img/quadro.jpg') no-repeat center center;
    background-size: cover;
}

.content-container {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.content-section {
    border-right: 3px solid black;
}

.content-section-title, .content-aside-title {
    text-align: center;
    padding-top: 20px;
}

.content-section-title h1, .content-aside-title h2 {
    font-size: 2rem;
}

.content-section-list, .content-aside-p {
    text-align: justify;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.content-section-list ul > li {
    padding-bottom: 20px;
}

.botao {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.botao a {
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
}
  
.botao a:hover {
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.704);
    transition: .3s;
    padding: 25px;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.footer-content i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}

.footer-content i, .footer-p p{
    font-size: 1.2rem;
    font-weight: bold;
}

.img-example {
    position: relative;
    height: 165px;
}

#img-example-css {
    position: absolute;
    width: 400px;
    bottom: -40px;
    left: 400px;
}

.fa-github {
    background-color: #000;
}

.fa-facebook {
    background-color: #3B5998;
}


.fa-instagram {
    background-image: linear-gradient(45deg,#F58529, #FEDA77, #DD2A7B, #8134AF, #155ED4);
}

.fa-linkedin {
    background-color: #007AB9;
}

section#click {
    background: black url('../img/action.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.515);

}

section#click > div#action {
    padding: 10px;
}

section#click > div#action > a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

section#click > div#action > a:hover {
    color: rgb(129, 0, 0);
    transition: .3s;
}