@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    border: none;
    font-family: Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc url('../img/quadro.jpg') no-repeat center center;
    background-size: cover;
}

.container {
    border: 1px solid black;
}

.container-content {
    border: 1PX solid red;
    width: 99%;
    height: 70%;
    margin-top: 160px;
}

.content {
    border: 1px solid green;
    margin: 10px;
}

.content-body, .new-content {
    border: 1px solid orange;
    padding: 10px;
}

.title, .subtitle {
    text-align: center;
    border: 1px solid purple;
    display: block;
}

.title h1, .subtitle h2 {
    padding: 10px;
    font-weight: bold;
}

.content-item ul > li {
    padding-bottom: 10px;
    font-size: 1rem;
}

.new-content {
    padding: 10px;
}

.subtitle, .nw-content {
    flex: 50%;
}

.nw-content p {
    font-size: 1rem;
    text-indent: 1rem;
}

.press-button {
    display: none;
}

.choice {
    display: flex;
    flex-flow: row wrap;
}
.opc-1, .opc-2 {
    flex: 50%;
}
.opc-2 {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    justify-content: center;
}
.social-media {
    display: flex;
    gap: 1rem;
}
.social-media i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 8px;
}

.social-media i:hover {
    opacity: .6;
    transition: .3s;
}

.footer {
    background-color: #fff;
    padding: 10px;
}

.footer p {
    font-weight: bold;
}

.fa-facebook {
    background-color: #3B5998;
}

.fa-instagram {
    background-image: linear-gradient(#515BD4, #B134AF, #DD2A7B, #FEDA77, #F58529);
}

.fa-linkedin {
    background-color: #007AB9;
}

.fa-github {
    background-color: #000;
}

section#click {
    background: black url('../img/action.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.515);

}

section#click > div#action {
    padding: 10px;
}

section#click > div#action > a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

section#click > div#action > a:hover {
    color: rgb(129, 0, 0);
    transition: .3s;
}