@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    border: none;
}

#container {
    width: 100vw;
    height: 100vh;
    background: black url('../img/quadro.jpg') no-repeat center center;
    background-size: cover;
}

#content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.content-section {
    display: flex;
    flex-flow: column wrap;
    flex: 50%;
    text-align: center;
}

.content-section h1 {
    padding-bottom: 20px;
}

.content-section h1, .content-section h2 {
    font-size: 2rem;
}

.content-section ul {
    display: flex;
    flex-flow: column wrap;
    gap: 1.1rem;
    text-align: justify;
    font-size: 1.3rem;
    margin-left: 180px;
    padding-bottom: 20px;
}

.content-section p {
    text-align: justify;
    font-size: 1.3rem;
    padding-right: 180px;
    margin: 20px;
}

.img-example {
    position: relative;
    height: 165px;
}

#img-example-css {
    position: absolute;
    width: 400px;
    bottom: -40px;
    left: 400px;
}


.botao {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.botao a {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.3rem;
}

.botao a:hover {
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.704);
	transition: .3s;
    padding: 25px;
}

.footer {
    margin-top: 20px;
}

.footer-content i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 40px;
    margin: 0 5px;
}

/* .fa-github {
    background-color: #adbac7;
    color: #000;
}

.fa-facebook {
    background-color: #adbac7;
    color: #000;
}

.fa-instagram {
    background-color: #adbac7;
    color: #000;
}

.fa-linkedin {
    background-color: #adbac7;
    color: #000;
} */

.footer-content p {
    text-align: center;
}

section#click {
    background: black url('../img/action.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.515);

}

section#click > div#action {
    padding: 10px;
}

section#click > div#action > a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

section#click > div#action > a:hover {
    color: rgb(129, 0, 0);
    transition: .3s;
}